<!DOCTYPE html>
<html lang="en">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
	<div ng-app="myApp" ng-controller="formCtrl">
		<form>
			Data Fetched from the DataBase:<br>
			<br> FirstName:<input type="text" ng-model="student.firstName" /><br>
			<br> LastName:<input type="text" ng-model="student.lastName" /><br>
			<br>
			<br>

			<button ng-click="sendData()">Add</button>
			<br>
			<button ng-click="moveToNext()">Next Page</button>
			<br>
			<br>


			<table border="1">
				<tr>
					<td><b>FirstName</b></td>
					<td><b>LastName</b></td>
				</tr>
				<tr ng-repeat="x in user" ng-click="setSelected(x)">
					<td>{{x.firstName}}</td>
					<td>{{x.lastName}}</td>
				</tr>
			</table>
			<br>
			<button ng-click="delete()">Delete</button>
			<button ng-click="edit()">Edit</button>

		</form>
	</div>
	<div class="col-md-9">
		<div ng-view></div>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('formCtrl', function($scope, $http ,$location) {
			$scope.student ={
					firstName : "",
					lastName : ""
			}
			$http({
				method : "POST",
				url : "ServletController"
			}).then(function(response) {//Success Method
				$scope.user = response.data;
			}, function(response) {
				// optional
				// failed
			});
			$scope.sendData =function() {				
				$http({
					url : 'ServletControllerSendData',
					method : "POST",
					data : $scope.student
				}).then(function(response) {
					$scope.student ={
							firstName : "",
							lastName : ""
					}
					obj=response.data;
					if(obj!=null){
						console.log(obj.responseMsg);
						if(obj.responseMsg.OK=='OK')					
							$scope.user.push(obj.responseResult.result.data);
						else
							alert(obj.responseMsg.OK);
					}
				}, function(response) { 
					// optional
					// failed
				});
			}
			$scope.setSelected =function(student) {
				$scope.selectedStudent=student;
			}
			
			$scope.delete = function() {				
				$http({
					url : 'ServletControllerDeleteData',
					method : "POST",
					data : $scope.selectedStudent
				}).then(function(response) {
					$scope.student ={
							firstName : "",
							lastName : ""
					}
					obj=response.data;
					if(obj.responseMsg.OK=='OK'){
						
						var index = -1;		
						var comArr = eval( $scope.user );
						for( var i = 0; i < comArr.length; i++ ) {
							if( comArr[i].firstName === $scope.selectedStudent.firstName) {
								index = i;
								break;
							}
						}
						
						if( index === -1 ) {
							alert( "Something gone wrong" );
						}
						else
							alert( "Row Deleted..." );
						$scope.user.splice( index, 1 );
					}
					else
						alert(obj.responseMsg.OK);
					//$scope.user = response.data;
				}, function(response) { // optional
					// failed
				});
			}
			$scope.edit = function() {	
				$scope.student =$scope.selectedStudent
				$http({					
					url : "http://localhost:8080/WebAngulerJs/main.htm",
					method : "POST",
					data : $scope.selectedStudent
				}).then(function(response) {
					
					
				}, function(response) { 
					// optional					
				});
			}
			$scope.moveToNext = function(){
				  window.location = "main.htm";
			}
		});
	</script>
</body>
</html>